*{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
    outline:unset;
    font-family: 'GothamPro', sans-serif;
  }
  button {
    border:unset;
    cursor:pointer;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  html {
  margin:unset;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  }
  input, textarea {
    color:#fff;
    border:unset;
    }
    ::-webkit-input-placeholder {
     color: #3d485d;
    }
    ::-moz-placeholder {
     color: #3d485d;
    }
    :-ms-input-placeholder {
     color: #3d485d;
    }
    :-moz-placeholder {
     color: #3d485d;
    }
    body {
    margin:unset;
    flex:1;
    display:flex;
    flex-direction:column;
    font-family: 'GothamPro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#fff;
    color:#858788;
    }
    .topNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:0 auto;
      width:100%;
  }
  
  .headerFlexContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #000019;
    color: #fff;
    min-height: 475px;
    position: relative;
    /* overflow: hidden; */
    background-image: url(https://i.imgur.com/eVJthTd.png);
    background-size: cover;
    /* background-position-x: 365px; */
    margin-bottom:200px;
}
.headerFlexContainer2 {
  display: flex;
  flex-direction: column;
  background:#000019;
  color:#fff;
  min-height:unset;
  position:relative;
  overflow:hidden;
}
.navMid {
  width: 35px;
  height: 35px;
}
.navMid svg {
  width: 35px;
  height: 35px;
}
.navMid img {
  width: 35px;
}.heroTopContainer {
  min-height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  max-width:1200px;
  margin:0 auto;
}
.showReelContainer {
  width: calc(100% - 25px);
  background: #ffff;
  border-radius: 2px;
  -ms-flex: 1 1;
  flex: 1 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  max-width: 665px;
  max-height: 500px;
  /* height: 375px; */
  z-index: 100;
  top: 125px;
}

.video-react-control-bar {
  display: none !important;
}

.heroContainer {
  /* background: #000019; */
  padding: 75px;
  padding-top: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  height: 258px;
  top: 70px;
  position: relative;
}
.navLeft a:not(:first-child) {
  margin-left: 25px;
}
.footerSub {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
  background: #f5f5f5;
  color: #383b3e;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.footerContainer {
  background: #f5f5f5;
  padding-left: 25px;
  padding-right: 25px;
}
.footerSub > div {
  font-weight: 600;
  font-size: 14px;
}
.footerSub > div:first-child a:not(:first-child) {
  margin-left: 25px;
}
.footerSub > div:nth-child(2) {
  display:flex;
  align-items: center;
}
.footerSub > div:nth-child(2) a:first-child {
  padding-left: 0px;
}
.topNavRightSub {
  font-size: 14px;
}
.navLeft {
  font-size: 14px;
  display:flex;
  flex-direction:row;
}
.mainAppContainer {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
}
.commonPageContainer {
    -ms-flex: 1 1;
    flex: 1 1;
}
.profilePageContainer {
  flex: 1;
  padding-left:25px;
  padding-bottom:50px;
  padding-right:25px;
}
.handRight {
  position: absolute;
  left: -75px;
  font-size: 200px;
  color: #c4c5c62e;
  transform: rotate(100deg);
}
.handLeft {
  position: absolute;
  right: -75px;
  font-size: 200px;
  color: #c4c5c62e;
  transform: rotate(-100deg);
}
.sectionSubContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.sectionHeaderHome {
  text-align:center;
}
.commonPageContainer section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 100px;
    padding-bottom: 100px;
    position:relative;
    /* border-top: 2px solid #f7f7f7; */
}
.commonPageContainer section:first-child {
  border-top: unset !important;
  padding-top: 50px;
  margin-top: 50px;
}
.overlayScreenHome {
    /* position: absolute; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #000019e0;
    border: 2px solid #f36925;
    border-radius: 2px;
    z-index: 2;
    overflow: hidden;
}
.overlayVid {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #000019e0;
  border-radius: 0px;
  z-index: 10;
}
.heroCtaContainer {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 75px;
  padding-top:0px;
  top: 0vh;
  height: 100%;
  flex-direction: row;
  /* border-bottom:4px solid #f36925; */
}
.heroLeft {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align:Center;
}
.actualHeroItemContainer h1 {
  margin: unset;
}
.ctaContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.actualHeroItemContainer h4 strong {
  color: #f36925;
  /* font-weight: 600; */
}
.actualHeroItemContainer h4 {
  font-size: 43px;
  margin: unset;
  margin-top: 0px;
  font-weight: bold;
}
.actualHeroItemContainer h1 {
  margin: unset;
  font-size: 20px;
}
.ctaContainer a {
  background: #f36925;
  padding: 15px;
  border-radius: 2px;
  font-weight: bold;
  color: #f8f7f8;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
  transition: background 0.5s ease-in-out;
  position:Relative;
  overflow:hidden;
}
.ctaContainer a span {
  position:Relative;
  z-index:2;
}
.ctaContainer a:hover {
  background: #f8f7f8;
  color: #f36925;
  transition: color 0.3s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.navRight {
    min-width: 349px;
    display: flex;
    justify-content: flex-end;
}
.navLeft a ion-icon {
  margin-right: 5px;
}

.navLeft a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ctaContainer a ion-icon {
  /* margin-right: 5px; */
  position: absolute;
  font-size: 40px;
  opacity: 0.3;
  z-index: 0;
  color: #3a1706;
}
.quoteBtn {
  color: #f15a24;
  transition: color 0.3s ease-in-out;
}
.quoteBtn:hover{
  color: #f8f7f8;
  transition: color 0.3s ease-in-out;
}
.circleNav a:not(:last-child) {
  margin-bottom: 10px;
}
.circleNav {
  position: fixed;
  z-index: 10;
  margin: auto;
  /* left: 0; */
  right: 28.5px;
  bottom: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.circleNav a {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #ffffff0d;
}
.circleNav a.active {
  border: 4px solid #ffffff;
  width: 20px;
  height: 20px;
  background: #f36925;
}
.topNavRightSub a ion-icon {
  margin-right: 5px;
}
.glareHeader {
  position: absolute;
  background: #f36925;
  width: 175px;
  height: 175px;
  bottom: 25px;
  right: 25px;
  border-radius: 2px;
}
.topNavRightSub a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  font-size: 20px;
  padding-left: 10px;
  transition: color 0.3s ease-in-out;
}

.footer-icon:hover {
  color: #f36925;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: #f36925;
  transition: color 0.3s ease;
}

.hero-subtitle {
  font-size: 3rem;
}

.navLink {
  transition: color 0.3s ease-in-out;
}
.vidCont video {
  width: calc(100% + 225px);
  position: absolute;
  left: -205px;
}
.navLink:hover, .navLeft a.active {
  color: #f36925;
  transition: color 0.3s ease-in-out;
}
.curvedHeaderFlow span {
  height: 110px;
  width: calc(100% + 300px);
  background: #000019;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px 100% 100%;
  position: relative;
  left:-150px;
}
.curvedHeaderFlow {
  height: 300px;
  overflow: hidden;
}
/* .commonPageContainer section {
  border-bottom: 2px solid #03031d;
} */
.commonPageContainer section:nth-child(2) {
  border-top:0px !important;
}
/* .commonPageContainer section:nth-child(odd) {
  background: #f8f8fd;
} */
.commonPageMain {
  -ms-flex: 1 1;
  flex: 1 1;
  padding-left: 25px;
  padding-bottom: 50px;
  padding-right: 25px;
}
.careersPage {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.footerSub > div:first-child a {
  display:flex;
  flex-direction:row;
  align-items: center;
}
.footerSub > div:first-child > div:first-child {
  display:flex;
  flex-direction:row;
}
.footerSub > div:first-child a ion-icon {
  margin-right:5px;
}
.footerSub > div:last-child {
  width:349px;
  display:flex;
  justify-content: flex-end;
}
.sectionHeaderHome h2:before {
  height: 5px;
  background: #383b3e;
  width: 40px;
  display: block;
  content: "";
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 2px;
  position: relative;
  right: -10px;
}
.sectionHeaderHome h2:after {
  height: 5px;
  background: #383b3e;
  width: 8px;
  display: block;
  content: "";
  margin: 0 auto;
  border-radius: 2px;
  position: absolute;
  right: 37px;
  left: 0;
  top: 0;
  z-index: 0;
}
.sectionHeaderHome h2 {
  margin: unset;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #383b3e;
  position: relative;
}
.sectionHeaderHome h4 {
  font-weight: 200;
  font-size: 20px;
  /* max-width: 250px; */
  margin: 0 auto;
  margin-top: 15px;
  color: #858788;
}
.sectionHeaderHome h4 strong {
  font-weight: 400;
  color: #f36925;
}
.singleServiceContainer {
  height: 325px;
  width: 200px;;
  background-color: #f36925;
  padding: 25px 10px 10px 10px;
}
.serviceIcon {
  color: #f8f7f8;
  font-size: 3.5rem;
  position: relative;
  right: 0;
  left: 33%;
  cursor: default;
}
.serviceTitle {
  text-align: center;
  position: relative;
  color: #f8f7f8;
  font-weight: 500;
}
.footerSub > div:nth-child(2) a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trippleStatsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-top: 50px;
}
.trippleStatsContainer > div h2 {
  margin: unset;
  font-size: 38px;
  color: #393c3f;
}
.trippleStatsContainer > div p {
  margin: unset;
  margin-top: 0px;
  font-size: 15px;
  /* margin-left: 25px; */
  font-weight: 600;
  color: #383b3e;
  margin-top: 25px;
}
.trippleStatsContainer > div {
  /* border: 4px solid #ffffff; */
  border-radius: 2px;
  color: #000019;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.clientProfile > div img {
  border-radius: 2px 2px 0px 0px;
  width: 100%;
  height: 100%;
  min-height: 227px;
}
.clientProfile > div:first-child > div {
  position: absolute;
  bottom: 0px;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  left: 0;
  margin: 0 auto;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: #00001966;
}
.clientProfile > div:first-child h4 {
  position: relative;
  z-index: 10;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.frontTintP {
  position: absolute;
  /* background: #00001996; */
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0px 0px;
}
.clientProfile {
  position: relative;
}
.clientProfile > div {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.clientSocials a {
  padding: unset;
  margin: unset;
  display: flex;
  align-items: center;
  color:#393c3f;
  font-size: 16px;
}

.clientSocials {
  padding: 25px;
  background: #f5f5f5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 0px 0px 2px 2px;
  border-top: 1px solid #e4e4e4;
}
.clientStats {
  position: relative;
  background: #f5f5f5;
  /* color: #ffffff; */
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
}
.clientStats ion-icon {
  position: absolute;
  font-size: 200px;
  right: -50px;
  top: 3px;
  color: #000008;
}
.clientStats h4 {
  margin: unset;
  font-size: 12px;
  text-transform: uppercase;
  color: #383b3e;
}
.clientStats p {
  margin: unset;
  margin-top: 15px;
  font-size: 20px;
  color: #393c3f;
  font-weight: 600;
}
.establishedClientsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
  margin-top:50px;
}
.clientStats ion-icon {
  position: absolute;
  font-size: 62px;
  right: 0;
  color: #ffffff1c;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.clientStats > div:first-child {
  position: relative;
  z-index: 10;
}
hr {
  max-width: 800px;
  height: 2px;
  background: #f7f7f7;
  outline: unset;
  border: none;
  /* box-shadow: 0px 0px 20px 1px hsla(240, 61%, 8%, 1); */
  border-radius: 100%;
}
.quadFeatures > div p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 200;
  margin: unset;
  margin-top: 25px;
  color: #858788;
}

.quadFeatures > div h4 {
  margin: unset;
  margin-top: 25px;
  font-weight: 600;
  font-size: 18px;
  color: #383b3e;
}
.quadFeatures > div ion-icon {
  font-size: 35px;
  color: #383b3e;
}
.quadFeatures > div {
  /* padding: 25px; */
  /* background: hsl(240, 100%, 5%); */
  border-radius: 2px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  /* border: 4px solid #080821; */
}

.quadFeatures {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
  margin-top: 50px;
}

.pRender {
  margin-top: 50px;
  font-weight: 200;
  font-size: 17px;
  line-height: 20px;
  margin-bottom:0px;
}
.stickyNav {
  background: #000019;
  z-index: 1000;
  color: #ffffff;
  padding-left:25px;
  padding-right:25px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width:100% !important;
}
.stickyNav .heroTopContainer {
  padding:unset !important;
  max-width:1200px;
  margin:0 auto;
}
.stickNavs {
  background: #000019;
  color:#ffffff;
}
/* .stickyNav .cls-1 {
  fill: #000019 !important;
} */
.headerFlexContainer2 .topNav {
  max-width: 1200px;
}
.footerContainer2 .footerSub {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.footerContainer2 {
  background:#f5f5f5;
  padding-left:25px;
  padding-right:25px;
}
.profileTop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  /* padding: 25px; */
  /* background: white; */
  border-radius: 2px 2px 0px 0px;
  /* color: #000019; */
  padding-bottom:0px;
}
.frontTintP2 {
  position: absolute;
  background: #383b3e7a;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0px 0px;
}
.profileInfoContainer * {
  margin: unset;
}
.profileInfoContainer > div:first-child h4 {
  font-size: 22px !important;
  color: #858788;
  line-height: 16px;
}
.profileInfoContainer > div:nth-child(2) span {
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #858788b5;
  padding: 5px;
  border-radius: 2px;
  color: #858788;
}
.profileInfoContainer > div:nth-child(2) span:not(:first-child) {
  margin-left: 15px;
}
.socialsContainerProfile a {
  padding: unset !important;
  color: #383b3e;
}
.socialsContainerProfile {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 25px;
}
.socialsContainerProfile a {
  display:flex;
  align-items: center;
}
.socialsContainerProfile a:not(:first-child) {
  margin-left:25px;
}
.profileInfoContainer div:nth-child(2) {
  margin-top: 20px;
}
.ctaProfile a {
  background: #f26925;
  height: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
  border-radius: 2px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
.ctaProfile {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}
.profileInfoContainer {
  padding: 25px;
  width: 100%;
  flex: 1;
  padding-bottom:0px;
  padding-right:0px;
  padding-top:0px;
}
.profileImageContainer img {
  height: 100%;
  width: 100%;
}
.profilePageS {
  max-width: 1200px;
  margin: 0 auto;
  margin-top:50px;
}
.profileDesc {
  display: -ms-flexbox;
  display: flex;
  /* background: #ffffff; */
  /* padding: 25px; */
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 25px;
  color: #fff;
  background: #f5f5f5;
  padding: 25px;
  border-radius: 2px;
}
.profileActual > div:last-child {
  border-radius: 0px 0px 2px 2px;
}
.profileDesc p {
  margin: unset;
  color: #858788;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
}
.headerFlexContainer2 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.profileImageContainer {
  position: Relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
  flex: 1 1;
  max-width: 161px;
  max-height: 161px;
  overflow: hidden;
  border-radius: 2px;
}
.vidCont {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #000019;
  /* border: 2px solid #f26925; */
  border-radius: 0px 0px 2px 2px;
  z-index: 2;
  overflow: hidden;
  height: 250px;
  margin-top:25px;
}
/* .vidCont .video-react .video-react-video {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  height: unset !important;
  min-height: unset !important;
  top: -15vh !important;
  min-width: unset !important;
  margin: auto !important;
} */
.careersBlockContainer > div h3 {
  margin: unset;
  font-size: 16px;
}
.careersBlockContainer > div p {
  font-size: 13px;
}
.careersBlockContainer > div {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 2px;
}
.tagsContainer {
  display: flex;
  flex-direction: row;
}

.tagsContainer > span {
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #858788b5;
  padding: 5px;
  border-radius: 2px;
  color: #858788;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.careersBlockContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 25px;
}

.sectionHeaderProfile h2 {
  margin: unset;
  color: #858788;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  position: relative;
}

/* .sectionHeaderProfile h2:before {
  height: 5px;
  background: #858788;
  width: 40px;
  display: block;
  content: "";
  margin-bottom: 15px;
  border-radius: 2px;
  position: relative;
  right: -13px;
}

.sectionHeaderProfile h2:after {
  height: 5px;
  background: #858788;
  width: 8px;
  display: block;
  content: "";
  border-radius: 2px;
  position: absolute;
  right: 37px;
  left: 0;
  top: 0;
  z-index: 0;
} */

.overlayScreenHome > video {
  width: 100%;
}
.partnersUnderVid {
  max-width: 665px;
  margin: 0 auto;
  /* margin-top: 120px; */
  width: 100%;
}
/* #section1 {
  margin-top:250px;
} */
.partnersUnderVid h4 {
  margin-bottom:50px;
  /* margin: unset;
  text-transform: uppercase;
  font-size: 15px;
  color: #3a3d40;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 12.5px;
  font-weight: 600; */
}
.partnerRibbon {
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 25px;
  margin-top: 20px;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.partnerRibbon a {
  font-size: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8587883d;
  height: 200px;
  width: 100%;
  border-radius: 2px;
  position:relative;
}

.steelSeriesBlock {
  background-image: url(https://i.imgur.com/0o2ygyZ.jpg);
}
.commonPartnersBlock {
  background-size: cover;
  /* background-position-y: -100px; */
  background-repeat:no-repeat;
}
/* #section1 {
  padding-top:0px;
} */
.partnerRibbon a img {
  width: 200px;
  position:Relative;
  z-index:1;
}
.partnersOverlay {
  background: #0000199c;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.wantToBecome h4 {
  margin: unset;
  /* margin-bottom: 15px; */
  font-size: 16px;
  color:unset;
  font-weight:bold;
  position:relative;
  z-index:1;
}

.wantToBecome p {
  margin: unset;
  font-size: 23px;
  color:#858788;
}
.wantToBecome {
  background: whitesmoke;
  flex-direction: column !important;
}
.wantToBecome ion-icon {
  position: absolute;
  font-size: 100px;
  opacity: 0.4;
}
.slick-slider {
  margin-top:50px;
}
.testimonialsContainer {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom:50px;
}
.testimonialsContainer h3 {
  font-size: 21px;
  line-height: 35px;
  text-align: Center;
  margin: unset;
  font-weight: 300;
}
.testimonialsContainer img {
  margin: 0 auto;
  margin-bottom: 25px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #c0c0c000;
  border: 2px solid black;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
}
.testimonialsContainer ul.slick-dots {
  bottom: -50px !important;
}






















