*{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
    outline:unset;
    font-family: 'GothamPro', sans-serif;
  }
  button {
    border:unset;
    cursor:pointer;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  html {
  margin:unset;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  }
  input, textarea {
    color:#fff;
    border:unset;
    }
    ::-webkit-input-placeholder {
     color: #3d485d;
    }
    ::-moz-placeholder {
     color: #3d485d;
    }
    :-ms-input-placeholder {
     color: #3d485d;
    }
    :-moz-placeholder {
     color: #3d485d;
    }
    body {
    margin:unset;
    flex:1;
    display:flex;
    flex-direction:column;
    font-family: 'GothamPro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#fff;
    color:#000019;
    }
    .topNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:0 auto;
      width:100%;
  }
  .headerFlexContainer {
    display: flex;
    flex-direction: column;
    background:#000019;
    color:#fff;
}
.navMid img {
  width: 60px;
}.heroTopContainer {
  padding-left: 75px;
  padding-right: 75px;
  min-height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}
.showReelContainer {
  min-height: 600px;
  width: 100%;
  background:#fff;
  border-radius:2px;
}
.heroContainer {
  background: #000019;
  color: #fff;
  padding: 75px;
  padding-top:0px;
}
.navLeft a:not(:first-child) {
  margin-left: 25px;
}
.footerSub {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 2px solid #f7f7f7;
}
.footerSub > div {
  font-weight: 600;
  font-size: 14px;
}
.footerSub > div:first-child a:not(:first-child) {
  margin-left: 25px;
}
.topNavRightSub {
  font-size: 14px;
}
.navLeft {
  font-size: 14px;
}
.mainAppContainer {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
}
.commonPageContainer {
    -ms-flex: 1 1;
    flex: 1 1;
}
.commonPageContainer section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 2px solid #f7f7f7;
}
.commonPageContainer section:first-child {
    border-top:unset !important;
}










































